<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref="/order-details"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Suivi de commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>N˚Commande </ion-label>
        <ion-text slot="end">{{ order?.orderNumber }}</ion-text>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let product of order?.products || []">
          <ion-thumbnail slot="start">
            <img [src]="product.cover" alt="" />
          </ion-thumbnail>
          <ion-label>
            <ion-text class="title">{{ product.name }}</ion-text>
            <p class="price">
              <ion-text color="dark">{{ product.price }} FCFA</ion-text>
            </p>
          </ion-label>
          <ion-label slot="end">{{ product.quantity }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-text>Prix total</ion-text>
          <ion-label slot="end"
            >{{ order?.totalPrice || 'N/A' }} FCFA</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-text>Détail de la commande</ion-text>
      </ion-item>
    </ion-card-header>

    <ion-card-content>  
     
        <h2>Date de livraison prévue</h2>
         <b *ngIf="delivery && delivery.deliveryDate">
           {{ formatDate(delivery.deliveryDate) }}
         </b>
         <b *ngIf="!(delivery && delivery.deliveryDate)">
           Aucune date de livraison prévue
         </b>

        <h2>ID Livraison</h2>
        <b slot="end">{{ delivery?.deliveryId }}</b>
   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-text>Suivi de commande</ion-text>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <div class="timeline">
        <div *ngFor="let event of events" class="timeline-event">
          <div class="timeline-point-track-container">
            <div
              class="timeline-point"
              [ngClass]="{'hightlight': event.status === true}"
            >
              <ion-icon
                *ngIf="event.status === true "
                name="checkmark-outline"
                color="light"
              ></ion-icon>
            </div>
            <div
              class="timeline-track"
              [ngClass]="{'hightlight': event.status === true}"
            ></div>
          </div>

          <div class="timeline-content">
            <ion-label>{{ event.content }}</ion-label>
            <p class="timeline-date">{{ event.date}}</p>
          </div>

          <ion-row slot="end">
            <ion-col class="qty">
              <ion-icon
                color="tertiary"
                [name]="event.content === 'Commande validée' ? 'checkmark-circle' : 
                      event.content === 'Commande créée' ? 'ellipse' : 
                      event.content === 'Commande expédiée' ? 'arrow-forward-circle' : 
                      event.content === 'Commande livrée' ? 'location' : 
                      'close-circle'"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
