ion-content {

   
    .timeline {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      padding: 1rem;

      .timeline-event {
        display: flex;
        position: relative;
        min-height: 70px;

        .timeline-point-track-container {
          flex: 0;
          display: flex;
          align-items: center;
          flex-direction: column;

          .timeline-point {
            display: flex;
            align-self: baseline;
            border: 2px solid var(--ion-color-tertiary);
            border-radius: 50%;
            width: 1.3rem;
            height: 1.3rem;
          }
          .timeline-track {
            flex-grow: 1;
            background-color: var(--ion-color-tertiary-shade);
            width: 2px;
          }
        }
      }
      .timeline-event:last-child {
        min-height: 0;
      }

      .timeline-content {
        flex: 1;
        padding: 0 1rem;
        .timeline-date {
          font-size: 14px;
          font-style: italic;
        }
      }

      ion-icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }

.hightlight {
  background-color: var(--ion-color-tertiary);
}
