<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/admin/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchProducts()"
    placeholder="Rechercher un produit"
  ></ion-searchbar>
  <form>
    <div class="ion-margin-vertical">
      <ion-text>Ajouter un nouveau produit</ion-text>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="categoryName" placeholder="Sélectionner une catégorie" label="Catégorie" name="categoryName">
            <ion-select-option *ngFor="let category of categories" [value]="category.name">
              {{ category.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="name"
            name="name"
            class="custom"
            label="Nom du produit"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea
            [(ngModel)]="description"
            name="description"
            class="custom"
            label="Description du produit"
          ></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="price"
            type="number"
            name="price"
            class="custom"
            label="Prix du produit"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="quantity"
            type="number"
            name="quantity"
            class="custom"
            label="Quantité disponible"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Photo</ion-label>
          <ion-input
            type="file"
            (change)="onFileSelected($event)"
            class="custom"
          />
        </ion-item>
        <ion-button expand="block" (click)="addProduct()">Ajouter</ion-button>
      </ion-list>
    </div>
  </form>

  <ion-row class="product-item">
    <ion-col
      size="6"
      class="ion-text-left"
      *ngFor="let product of filteredProducts"
    >
      <img [src]="product.cover" alt="Cover image" />
      <h5>Catégorie : {{ product.category.name }}</h5>
      <p>Nom : {{ product.name }}</p>
      <p>Prix : {{ product.price }} FCFA</p>

      <p>
        <ion-button (click)="setOpen(true, product)">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>
        <ion-modal [isOpen]="isModalOpen">
          <ng-template>
            <ion-header>
              <ion-toolbar color="light">
                <ion-title>{{ selectedProduct?.name }} </ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false, product)"
                    >Fermer</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" color="light">
              <p>
                <ion-label>
                  <ion-img [src]="selectedProduct?.cover"></ion-img>
                </ion-label>
              </p>
              <p>
                <ion-label
                  >Nom de la catégorie : {{ selectedProduct?.category?.name
                  }}</ion-label
                >
              </p>
              <p>
                <ion-label>Nom du produit : {{ selectedProduct?.name }}</ion-label>
              </p>
              <p>
                <ion-label
                  >Description : {{ selectedProduct?.description }}</ion-label
                >
              </p>
              <p>
                <ion-label>Prix : {{ selectedProduct?.price }} FCFA</ion-label>
              </p>
              <p>
                <ion-label
                  >Quantité : {{ selectedProduct?.quantity }}</ion-label
                >
              </p>
              <p>
               
              </p>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-button (click)="edit(product)">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteProduct(product.productId)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </p>
      </ion-col
    >
  </ion-row>
</ion-content>
