<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        [defaultHref]="['/tabs/contact-details', userId]"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list lines="none">   
    <div>
      <ion-item *ngFor="let product of products">
        <ion-thumbnail slot="start">
          <img [src]="product?.cover" alt="" />
        </ion-thumbnail>
        <ion-label>
          <ion-text class="title"> {{product?.name}} </ion-text>
          <p class="description">
            <ion-text color="dark">{{product?.description}}</ion-text>
          </p>
          <p class="price">
            <ion-text color="dark">{{product?.price | number: '1.2-2' }}</ion-text>
          </p>
        </ion-label>

        <ion-row slot="end">
          <ion-col class="qty">
            <ion-text>{{ product?.cartQuantity }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>

  </ion-list>

  <div class="adress">
    <ion-item>
      {{ user?.address + ',' }} {{ user?.city + ',' }} {{ user?.country }}
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>Sous-total</ion-label>
      <ion-label slot="end" class="ion-text-right">FCA {{ total | number:'1.0-0' }}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Taux</ion-label>
      <ion-label slot="end" class="ion-text-right">0%</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Livraison</ion-label>
      <ion-label slot="end" class="ion-text-right">
        {{ user?.deliveryMethod === 'domicile'? 'FCA 1500' : 'FCA 0' }}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Total</ion-label>
      <ion-label slot="end" class="ion-text-right">FCA {{ totalPrice | number: '1.2-2' }}</ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" [routerLink]="['/confirm', userId]" routerDirection="forward" (click)="acheter()">Acheter</ion-button>
  </ion-toolbar>
</ion-footer>