<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/tabs/profile" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Mes favoris</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list>
    <div *ngFor="let product of products; let i = index">
      <ion-item lines="none" [detail]="true" class="type" [routerLink]="['/tabs/product-details', product.productId]">
        <ion-thumbnail slot="start">
          <img [src]="product?.cover" alt="">
        </ion-thumbnail>
        <ion-label>
          <ion-text color="dark">{{product?.name}}</ion-text>
          <p>
            <ion-text>
              <strong>{{product?.description}}</strong>
            </ion-text>
          </p>
        </ion-label>
      </ion-item>

      <ion-row class="ion-padding amount">
        <ion-text color="dark">FCFA <ion-text color="primary">{{product?.price}}</ion-text></ion-text>
      </ion-row>

      <ion-row class="reorder">
        <ion-col size="6">
          <ion-button fill="clear" (click)="removeWishlist(wishlists[i].wishlistId)">
            <ion-icon color="danger" name="heart" slot="start"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button shape="round" expand="block" color="tertiary">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>
</ion-content>
