<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-button slot="start" mode="md" (click)="close()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-title color="primary">Édit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <form>
    <div class="ion-margin-vertical">
      <ion-list>
        <ion-item>
          <ion-input
            [(ngModel)]="category.name"
            name="name"
            class="custom"
            label="Nom de la catégorie"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Photo</ion-label>
          <ion-input
          type="file"
          (change)="onFileSelected($event)"
          class="custom"
          />
        </ion-item>
        <ion-button expand="block" (click)="edit()">Modifier</ion-button>
      </ion-list>
    </div>
  </form>
</ion-content>
