<ion-content [fullscreen]="true">
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/tabs/homescreen">
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-icon color="light" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="image">
      <img src="/assets/images/1.jpg" alt="" />
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">Chauffe-eau</h1>
        <p class="ion-no-margin">FCFA 12500</p>
      </div>
    </div>

    <div class="set">
      <div class="set-icon">
        <ion-icon name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="about">
      <h1>Description</h1>
      <p>
        Cet appareil chauffe l'eau uniquement lorsqu'elle est demandée,
        offrant ainsi une source continue d'eau chaude. Ces appareils sont plus
        compacts et peuvent être plus efficaces sur le plan énergétique car ils
        n'ont pas de pertes de chaleur dues au stockage de l'eau.
      </p>
    </div>

    <ion-button expand="block">
      <ion-icon name="cart-outline"></ion-icon>
      Ajouter au panier
    </ion-button>
  </div>
</ion-content>
