<ion-content [fullscreen]="true">
  <div class="header">
    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-icon color="light" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div class="card">
    <div class="image">
      <img [src]="product?.cover" alt="" />
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ product?.name }}</h1>
        <p class="ion-no-margin">FCFA {{ product?.price }}</p>
      </div>
    </div>

    <div class="set">
      <div class="set-icon">
        <ion-icon name="share-social-outline"></ion-icon>
      </div>
    </div>

    <div class="about">
      <h1>Description</h1>
      <p>
        {{ product?.description }}
      </p>
    </div>

    <ion-button expand="block">
      <ion-icon name="cart-outline"></ion-icon>
      Ajouter au panier
    </ion-button>
  </div>
</ion-content>
