<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button
        [defaultHref]="['/product-list']"
        color="dark"
      >
     Retour
    </ion-back-button>
    </ion-buttons>
    <ion-buttons
      slot="end"
      mode="md"
      type="button"
      (click)="liked ? removeWishlist() : addWishlist()"
    >
      <ion-icon
        [name]="liked ? 'heart' : 'heart-outline'"
        [color]="liked ? 'danger' : 'light'"
      >
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card">
    <div class="image">
      <img [src]="product?.cover" alt="" />
    </div>
    <div>
      <p *ngIf="product?.quantity === 0">Ce produit est indisponible</p>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{ product?.name }}</h1>
        <p class="ion-no-margin">{{ product?.price | number: '1.2-2' }} FCFA</p>
      </div>
    </div>

    <div class="set">
      <div class="set-icon">
        <ion-button id="open-modal" (click)="shareProduct()">
          <ion-icon name="share-social-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="about">
      <h1>Description</h1>
      <p>{{ product?.description }}</p>
    </div>

    <ion-button
      expand="block"
      (click)="addCart()"
      [disabled]="product?.quantity === 0"
    >
      <ion-icon name="cart-outline"></ion-icon>
      Ajouter au panier
    </ion-button>
  </div>
<!--
  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding" color="light">
        <div class="ion-margin-top share">
          <ion-button >
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
-->
</ion-content>
