<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="primary">
  <div id="header">
    <h1>Swift Shop</h1>
    <p>Retrouvez les meilleurs articles, à prix réduit.</p>
  </div>
  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="text"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        enterkeyhint="next"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Mot de passe"
        [(ngModel)]="password"
        name="password"
        enterkeyhint="done"
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <p routerLink="/forgot-password">Mot de passe oublié ?</p>
    <ion-button expand="block" color="secondary" (click)="login()"
      >Se connecter</ion-button
    >
    <p>
      Pas de compte ?
      <ion-text color="secondary" routerLink="/register">S'inscrire</ion-text>
    </p>
  </form>
</ion-content>
