<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="primary">
  <div id="header">
    <h1>Swift Shop</h1>
    <p>Retrouvez les meilleurs articles, à prix réduit.</p>
  </div>
  <ion-segment [(ngModel)]="loginMethod" color="primary">
    <ion-segment-button value="email">
      <ion-label>Email</ion-label>
    </ion-segment-button>
    <ion-segment-button value="phone">
      <ion-label>Téléphone</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form id="form">
    <ion-item class="ion-margin-bottom" *ngIf="loginMethod === 'email'">
      <ion-input
        type="text"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        enterkeyhint="next"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="loginMethod === 'email'">
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Mot de passe"
        [(ngModel)]="password"
        name="password"
        enterkeyhint="done"
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="loginMethod === 'phone'">
      <ion-input
        type="tel"
        placeholder="Téléphone"
        [(ngModel)]="tel"
        name="tel"
        enterkeyhint="done"
      ></ion-input>
    </ion-item>
    <div id="captcha"></div>
    <ion-button expand="block" color="secondary" *ngIf="loginMethod === 'email'" (click)="login()">
      Se connecter
    </ion-button>
    <ion-button expand="block" color="secondary" *ngIf="loginMethod === 'phone'" >
      Se connecter
    </ion-button>
    <p>
      Pas de compte ?
      <ion-text color="secondary" routerLink="/register">S'inscrire</ion-text>
    </p>
  </form>
</ion-content>