<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/admin/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-segment [(ngModel)]="selectedSegment" color="primary">
    <ion-segment-button value="pending">
      <ion-label>En attente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done">
      <ion-label>Terminée</ion-label>
    </ion-segment-button>
    <ion-segment-button value="delete">
      <ion-label>Annulée</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-card *ngFor="let order of getFilteredOrders()">
      <ion-card-header>
        <ion-item>
          <ion-label>Commande N˚ {{ order.orderNumber }}</ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Prix Total : {{ order.totalPrice }} FCFA</ion-label>
        <p>Passée le 25-07-20</p>
      </ion-card-content>
      <ion-row>
        <ion-button [routerLink]="['/admin/order-details', order.orderId]">
          <ion-icon name="eye-outline"></ion-icon>
          <p>Détails</p>
        </ion-button>
        <ion-button>
          <ion-icon name="trash-outline"></ion-icon>
          <p>Supprimer</p>
        </ion-button>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>