<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        [defaultHref]="['/tabs/shopping-cart', userId]"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Coordonnées</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list class="ion-margin-bottom liste">
    <ion-item class="ion-margin-bottom">
      <ion-thumbnail slot="start">
        <ion-icon name="location-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        Adresse de Livraion
        <p>
          {{ user?.country || 'Ajouter une adresse' }}, {{ user?.city || 'Ville' }}, {{
          user?.address || 'Adresse' }}
        </p>
      </ion-label>
      <ion-text slot="end" color="dark" [routerLink]="['/shipping-address', userId]">
        <ng-container *ngIf="user?.address; else chooseLink">Modifier</ng-container>
        <ng-template #chooseLink>Choisir</ng-template>
      </ion-text>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-thumbnail slot="start">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        Méthode de paiement
        <p>{{ user?.deliveryMethod || 'Ajouter une méthode de paiement' }}</p>
      </ion-label>
      <ion-text slot="end" color="dark" [routerLink]="['/payment-method', userId]">
        <ng-container *ngIf="user?.deliveryMethod; else chooseLink">Modifier</ng-container>
        <ng-template #chooseLink>Choisir</ng-template>
      </ion-text>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-thumbnail slot="start">
        <ion-icon name="navigate-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        Méthode de livraison
        <p>{{ user?.paymentMethod || 'Ajouter une méthode de livraison' }}</p>
      </ion-label>
      <ion-text slot="end" color="dark" [routerLink]="['/payment-method', userId]">
        <ng-container *ngIf="user?.paymentMethod; else chooseLink">Modifier</ng-container>
        <ng-template #chooseLink>Choisir</ng-template>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button
      expand="block"
      class="main-button"
      [routerLink]="['/checkout', userId]"
      routerDirection="forward"
      >Continuer</ion-button
    >
  </ion-toolbar>
</ion-footer>
