<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Mon panier</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div *ngIf="products.length === 0">
    <ion-text class="empty-cart-message">
      Commencez à shopper maintenant
    </ion-text>
  </div>
  <ion-list lines="none" *ngIf="products.length > 0">
    <div *ngFor="let product of products">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="product?.cover" alt="" />
        </ion-thumbnail>
        <ion-label>
          <ion-text class="title">{{ product?.name }}</ion-text>
          <p class="description">
            <ion-text color="dark">{{ product?.description }}</ion-text>
          </p>
          <p class="price">
            <ion-text color="dark">{{ product?.price | number: '1.2-2' }}</ion-text>
          </p>
        </ion-label>
        <ion-row slot="end">
          <ion-col>
            <ion-icon
              name="add"
              color="danger"
              (click)="increaseQuantity(product.cartId)"
            ></ion-icon>
          </ion-col>
          <ion-col class="qty">
            <div>
              <ion-text>{{ product?.cartQuantity }}</ion-text>
            </div>
          </ion-col>
          <ion-col>
            <ion-icon
            *ngIf="product.cartQuantity > 1"

              name="remove"
              color="danger"
              (click)="decreaseQuantity(product.cartId)"
            ></ion-icon>
            <ion-icon
              *ngIf="product.cartQuantity === 1"
              name="trash"
              color="danger"
              (click)="removeProductFromCart(product.cartId)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="products.length > 0">
  <ion-toolbar color="light">
    <ion-item lines="none" color="light" class="total">
      <ion-label color="primary"> Total </ion-label>
      <ion-text slot="end"> FCFA {{ totalPrice | number: '1.2-2' }} </ion-text>
    </ion-item>

    <ion-button
      [strong]="true"
      color="tertiary"
      expand="block"
      size="large"
      [routerLink]="['/contact-details', userId]"
      [disabled]="hasInsufficientQuantity()"
    >
      <ion-text>Commander</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>
