<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/tabs/homescreen" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Catégories</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="list-category" >

  <div class="card" routerLink="/tabs/product-list" *ngFor="let category of categories">
    <img [src]="category.cover" alt="">
    <div class="card-content">
      <h3 class="title">{{ category.name }}</h3>
    </div>
  </div>

</div>
</ion-content>
