<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref="/tabs/profile"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Conditions d'utilisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="ion-text-justify ion-margin container">
    <h2>1. Acceptation des Conditions</h2>
    <p>
      En accédant et en utilisant notre application de commerce électronique,
      vous acceptez d'être lié par ces conditions d'utilisation. Si vous
      n'acceptez pas ces conditions, veuillez ne pas utiliser notre application.
    </p>
    <h2>2. Modifications des Conditions</h2>
    <p>
      Nous nous réservons le droit de modifier ces conditions à tout moment. Les
      modifications prendront effet dès leur publication sur l'application. Il
      est de votre responsabilité de consulter régulièrement ces conditions pour
      vous tenir informé des changements.
    </p>
    <h2>3. Inscription et Responsabilité</h2>
    <p>
      Pour utiliser certaines fonctionnalités de l'application, vous devez créer
      un compte. Vous devez fournir des informations exactes et à jour lors de
      votre inscription. Vous êtes responsable de la confidentialité de vos
      informations de compte et de votre mot de passe. Vous acceptez de notifier
      immédiatement notre équipe en cas d'utilisation non autorisée de votre
      compte.
    </p>
    <h2>4. Utilisation de l'Application</h2>
    <p>
      Vous vous engagez à utiliser l'application uniquement à des fins légales
      et de manière à ne pas porter atteinte aux droits d'autrui. Vous ne devez
      pas utiliser l'application d'une manière qui pourrait nuire, désactiver,
      surcharger ou compromettre le bon fonctionnement de l'application.
    </p>
    <h2>5. Produits et Prix</h2>
    <p>
      Tous les produits et services disponibles sur l'application sont soumis à
      disponibilité. Nous nous réservons le droit de modifier ou d'interrompre
      un produit à tout moment sans préavis. Les prix des produits peuvent être
      modifiés sans préavis. Nous nous engageons à vous informer des changements
      de prix avant de finaliser votre commande.
    </p>
    <h2>6. Commandes</h2>
    <p>
      En passant une commande sur notre application, vous vous engagez à acheter
      le produit que vous avez sélectionné. Vous devez avoir au moins 18 ans ou
      être accompagné d'un parent ou d'un tuteur légal. Nous nous réservons le
      droit d'annuler ou de refuser une commande pour des raisons telles que la
      disponibilité des produits, des erreurs de prix ou des soupçons de fraude.
    </p>
    <h2>7. Paiement</h2>
    <p>
      Tous les paiements doivent être effectués via les méthodes de paiement
      disponibles dans l'application. En fournissant vos informations de
      paiement, vous garantissez que vous êtes autorisé à utiliser cette
      méthode. Les informations de paiement que vous fournissez sont sécurisées
      et ne seront utilisées que pour traiter votre commande.
    </p>
    <h2>8. Propriété Intellectuelle</h2>
    <p>
      Tout le contenu de l'application, y compris les textes, graphiques, logos,
      images et logiciels, est la propriété de notre entreprise ou de ses
      partenaires et est protégé par des lois sur la propriété intellectuelle.
    </p>
    <h2>9. Limitation de Responsabilité</h2>
    <p>
      Nous ne serons pas responsables des dommages directs, indirects,
      accidentels ou consécutifs résultant de votre utilisation ou de votre
      incapacité à utiliser l'application.
    </p>
    <h2>Contact</h2>
    <p>
      Pour toute question concernant ces conditions, veuillez nous contacter à
    </p>
  </div>
</ion-content>
