<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button (click)="goBack()" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ category?.name }}</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  
  
  <ion-row class="product-item">
    <ion-col size="6" class="ion-text-left" *ngFor="let product of products">
      <img [src]="product.cover" alt="" [routerLink]="['/tabs/product-details', product.productId]" />
      <p>FCFA {{ product.price }}</p>
      <h4>{{ product.name }}</h4>
    </ion-col>
  </ion-row>
</ion-content>
