<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons >
      <ion-back-button [defaultHref]="['/tabs/category-list', userId]" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ category?.name }}</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-icon name="search-outline" color="dark"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-row class="product-item">
    <ion-col size="6" class="ion-text-left" *ngFor="let product of products">
      <ion-img [src]="product.cover" [routerLink]="['/tabs/product-details', product.productId]" ></ion-img>
      <p>FCFA {{ product.price | number: '1.2-2' }}</p>
      <h4>{{ product.name }}</h4>
      <p *ngIf="product.quantity === 0">
        <ion-chip>Non disponible</ion-chip>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
