<ion-header  class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" >
      <img src="assets/icon/IMG_9105.png" alt="" >
    </ion-buttons>

    <ion-title color="primary" >Bienvenue</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notifications" [routerLink]="['/notifications']">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      
      <ion-button class="filter" [routerLink]="['/tabs/shopping-cart']">
        <ion-icon name="cart-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="search ion-padding">
    <ion-item lines="none" color="light">
      <ion-input placeholder="Trouver un produit..." [formControl]="searchField" [clearInput]="true"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="search-results ion-padding" *ngIf="searchField.value && filteredProducts.length > 0"> 
    <ion-list lines="none">
      <ion-item *ngFor="let product of filteredProducts" [routerLink]="['/tabs/product-details', product.productId]">
        <ion-thumbnail slot="start">
          <img [src]="product.cover" alt="" >
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.price | number: '1.2-2' }} FCFA</p>
        </ion-label>
      </ion-item>
    </ion-list>
  
    </div>

  <div class="flash-sale ion-padding-start">
    <swiper-container [slidesPerView]='1' [zoom]="false" [grabCursor]="true">
      <swiper-slide *ngFor="let category of categories">
        <ion-row>
          <img [src]="category.cover" alt="">
        </ion-row>

      </swiper-slide>

    </swiper-container>
    
   
  </div>

  <div class="title ion-padding">
    <h2>Catégories</h2>
    <p [routerLink]="['/tabs/category-list']">Voir tout</p>
  </div>

  <div class="category-slider ion-padding-start">
    <swiper-container [slidesPerView]='2' [zoom]="false" [grabCursor]="true">
      
        <swiper-slide *ngFor="let category of categories">
          <ion-col [routerLink]="['/tabs/product-list', category.categoryId]">
            <h4>{{category.name}}</h4>
            <img [src]="category.cover" alt="" > 
          </ion-col>
        </swiper-slide>
      
    </swiper-container>
  </div>

  
  <div class="title ion-padding">
    <h2>Articles</h2>
    <p [routerLink]="['/tabs/product-list']">Voir tout</p>
  </div>

  <div class="product-slider ion-padding-start">
    <swiper-container [slidesPerView]='2' [zoom]="false" [grabCursor]="true">
        <swiper-slide *ngFor="let product of products">
          <ion-col class="ion-text-left">
            <img [src]="product.cover" alt="" [routerLink]="['/tabs/product-details', product.productId]">
            <p>{{product.price | number: '1.2-2'}} FCFA</p>
            <h6>{{product.name}}</h6>
          </ion-col>
        </swiper-slide>
    </swiper-container>
  </div>


  <div class="title ion-padding">
    <h2>Meilleurs produits</h2>
    <p [routerLink]="['/tabs/product-list']">Voir tout</p>
  </div>

  <div class="product-slider ion-padding-start">
    <swiper-container [slidesPerView]='2' [zoom]="false" [grabCursor]="true">
        <swiper-slide *ngFor="let product of products">
          <ion-col class="ion-text-left">
            <img [src]="product.cover" alt="" [routerLink]="['/tabs/product-list']" >
            <p>{{product.price | number: '1.2-2'}} FCFA</p>
            <h6>{{product.name}}</h6>
          </ion-col>
        </swiper-slide>
    </swiper-container>
  </div>
  
</ion-content>
