<ion-content [fullscreen]="true" class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">
      <div class="outer-circle">
        <div class="inner-circle">
          <img src="assets/images/success.png" alt="">
        </div>
      </div>

      <h2>Confirmation</h2>
      <p>
        Vous avez validé votre panier avec succès !<br>
        Merci de nous avoir fait confiance.
      </p>
    </div>
  </div>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/tabs/homescreen" routerDirection="forward">Accueil</ion-button>
  </ion-toolbar>
</ion-footer>
