<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref="/admin/home"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-segment value="client">
    <ion-segment-button value="client">
      <ion-label>Client</ion-label>
    </ion-segment-button>
    <ion-segment-button value="admin">
      <ion-label>Administrateur</ion-label>
    </ion-segment-button>
  </ion-segment>
  

  <div class="ion-margin-vertical">
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-thumbnail slot="start">
        <img src="assets/images/profile.png" alt="">
      </ion-thumbnail>
      <ion-label class="recent">
        {{ user.firstname }} {{ user.name }}
        <p>
          {{ user.email }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
