<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/login" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="primary">
  <div id="header">
    <h1>Swift Shop</h1>
    <p>Envoyez un mail de vérification pour changer votre mot de passe</p>
  </div>
  <form id="form">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>    
    <ion-button expand="block" color="secondary" (click)="forgotPassword()"
      >Envoyer</ion-button
    >
  </form>
</ion-content>
