<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-text>
    <h1>Bienvenue.</h1>
    <p>Retrouvez les meilleurs articles à prix réduit.</p>
  </ion-text>

  <div class="actions">
    <div class="login-buttons">
      <ion-button>
        <ion-avatar>
          <img src="assets/images/f.png" alt="">
        </ion-avatar>
        <ion-label>Facebook</ion-label>
      </ion-button>

      <ion-button>
        <ion-avatar>
          <img src="assets/images/g.png" alt="">
        </ion-avatar>
        <ion-label>Google</ion-label>
      </ion-button>
    </div>

    <div class="separator">
      <span>ou</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>

    <ion-button class="login-btn" expand="block" routerLink="/login">Se connecter avec un email</ion-button>
    <p class="signup">Pas encore de compte ? <a routerLink="/register"> S'incrire</a></p>
  </div>
  
</ion-content>
