<!-- checkout.page.html -->
<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref="/tabs/profile"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchOrder()"
    placeholder="Rechercher une commande"
  ></ion-searchbar>

  <div *ngFor="let order of orders" class="ion-margin-vertical">
    <ion-item-sliding>
      <ion-item-options side="end">
        <ion-item-option
          color="danger"
          (click)="cancelOrder(order.orderId, 'cancel')"
        >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-card>
        <ion-list>
          <ion-item detail>
            <ion-icon
              [name]="order.status === 'done' ? 'checkmark-circle' : 
                  order.status === 'pending' ? 'ellipse' : 
                  order.status === 'ongoing' ? 'arrow-forward-circle' : 
                  order.status === 'delivered' ? 'location' : 
                  'close-circle'"
              [color]="order.status === 'done' ? 'success' : 
                  order.status === 'pending' ? 'warning' : 
                  order.status === 'ongoing' ? 'primary' : 
                  order.status === 'delivered' ? 'success' : 
                  'danger'"
            ></ion-icon>
            <ion-label>
              <ion-text
                [color]="order.status === 'done' ? 'success' : 
        order.status === 'pending' ? 'warning' : 
        order.status === 'ongoing' ? 'primary' : 
        order.status === 'delivered' ? 'success' : 
        'danger'"
              >
                {{ order.status === 'pending' ? 'Commande en attente' :
                order.status === 'done' ? 'Commande validée' : order.status ===
                'ongoing' ? 'Commande expediée' : order.status === 'delivered' ?
                'Commande livrée' : 'Commande anulée' }}
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-card-content>
          <ion-label>Commande n˚ {{ order.orderNumber }}</ion-label>
          <ion-list lines="none">
            <ion-item *ngFor="let product of order.products">
              <ion-thumbnail slot="start">
                <img [src]="product.cover" alt="" />
              </ion-thumbnail>
              <ion-label>
                <ion-text class="title">{{ product.name }}</ion-text>
                <p class="price">
                  <ion-text color="dark">{{ product.price }}</ion-text>
                </p>
              </ion-label>

              <ion-row slot="end">
                <ion-col class="qty">
                  <ion-text>{{ product.quantity }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>

          <div class="cart-total">
            <ion-item>
              <ion-label>Total</ion-label>
              <ion-label slot="end" class="ion-text-right">
                {{ order.totalPrice }} FCFA
              </ion-label>
            </ion-item>
          </div>

          <div>
            <ion-button
              expand="block"
              [routerLink]="['/track-order', order.orderId]"
              >Voir les détails</ion-button
            >
            <ion-button
              expand="block"
              fill="outline"
              color="tertiary"
              *ngIf="order.status !== 'cancel'"
              (click)="cancelOrder(order.orderId, 'cancel')"
              >Annuler la commande</ion-button
            >
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item-sliding>
  </div>
</ion-content>
