<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="/login" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <div id="header">
    <h1>Swift Shop</h1>
    <p>Retrouvez les meilleurs articles, à prix réduit.</p>
  </div>
  <form id="form" [formGroup]="regForm" (ngSubmit)="register()">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="text"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <div *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched">
      <ion-text color="danger">
        <p *ngIf="regForm.get('email')?.errors?.['required']">
          L'email est requis.
        </p>
        <p *ngIf="regForm.get('email')?.errors?.['email']">
          L'email n'est pas valide.
        </p>
      </ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Mot de passe"
        formControlName="password"
      ></ion-input>
      <ion-icon
        [name]="showPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>

    <div *ngIf="regForm.get('password')?.invalid && regForm.get('password')?.touched">
      <ion-text color="danger">
        <p *ngIf="regForm.get('password')?.errors?.['required']">
          Le mot de passe est requis.
        </p>
        <p *ngIf="regForm.get('password')?.errors?.['pattern']">
          Le mot de passe doit contenir :
            <li>Une lettre majuscule</li>
            <li>Un chiffre</li>
            <li>Au moins 8 caractères</li>
          
        </p>
      </ion-text>
    </div>

    <ion-item class="ion-margin-bottom">
      <ion-input
        [type]="showConfirmPassword ? 'text' : 'password'"
        placeholder="Confirmer mot de passe"
        formControlName="confirmPassword"
      ></ion-input>
      <ion-icon
        [name]="showConfirmPassword ? 'eye-off' : 'eye'"
        slot="end"
        (click)="toggleConfirmPasswordVisibility()"
      ></ion-icon>
    </ion-item>

    <div *ngIf="regForm.get('confirmPassword')?.invalid && regForm.get('confirmPassword')?.touched">
      <ion-text color="danger">
        <p *ngIf="regForm.get('confirmPassword')?.errors?.['required']">
          La confirmation du mot de passe est requise.
        </p>
        <p *ngIf="regForm.get('confirmPassword')?.errors?.['match']">
          Les mots de passe ne correspondent pas.
        </p>
      </ion-text>
    </div>

    <ion-button expand="block" color="primary" type="submit">S'inscrire</ion-button>
    <p>
      En cliquant sur 'S'inscrire', vous acceptez nos conditions d'utilisation.
    </p>
  </form>
</ion-content>
